{% extends "base.html" %}

{% block head %}
<title>Create Activity</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
{% endblock %}

{% block content %}
<div>
    {% if object %}
        <h1>Edit {{object.name}}</h1>
    {% else %}
        <h1>Add a Activity</h1>
    {% endif %}
</div>

<div>
    <form action='' method='post'>
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button type='submit'>Submit! </button>
    </form>
</div>

{% endblock %}