{% extends "base.html" %}

{% block head %}
<title>Activity</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
{% endblock  %}

{% block content%}
    <div> 
        <h2>{{ object.name }}</h2>
        <p>Start Date: {{ object.date }} </p>

       <a href="{% url 'activity-update' object.id %}" style="color: white; background: red; padding:6px 12px; border-radius:5px;">Edit</a>
       <a href="{% url 'activity-delete' object.id %}" style="color: white; background: red; padding:6px 12px; border-radius:5px;">Delete</a>
    </div>
    </a>
{% endblock %}