{% extends "base.html" %} {% load static %}
    
{% block head %}
<title>{{park.name}}</title>
{% endblock %}

{% block content %}
    <div style="margin-bottom:20px; border-bottom:1px solid #ccc; padding-bottom:10px;">
        <h3>{{ park.name }}</h3>
        <p><strong>Location:</strong> {{ park.location }}</p>
        <p><strong>Description:</strong> {{ park.description }}</p>

        <a href="{% url 'park-update' park.id %}" style="color: white; background: red; padding:6px 12px; border-radius:5px;">Edit</a>
        <a href="{% url 'park-delete' park.id %}" style="color: white; background: red; padding:6px 12px; border-radius:5px;">Delete</a>
    </div>  

    <h2>Add a Animal</h2>
    <form method='post' action="{% url 'add-animal' park.id %}">
        {% csrf_token %}
        {{ animal_form.as_p}}
        <button type='submit'>Add Animal</button>
    </form>


    <h3>Animals in this park</h3>
    <ul>
        {%for animal in animals %}
            <li>{{animal.species}} : Count - {{animal.count}}</li>
        {% empty %}
            <li>No Animals</li>
        {% endfor %}
    </ul>

{% endblock %}