{% extends "base.html" %} {% load static %}
    
{% block head %}
<title>{{park.name}}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
{% endblock %}

{% block content %}
    <div style="margin-bottom:20px; border-bottom:1px solid #ccc; padding-bottom:10px;">
        <h3>{{ park.name }}</h3>
        <p><strong>Location:</strong> {{ park.location }}</p>
        <p><strong>Description:</strong> {{ park.description }}</p>

        <a href="{% url 'park-update' park.id %}" style="color: white; background: red; padding:6px 12px; border-radius:5px;">Edit</a>
        <a href="{% url 'park-delete' park.id %}" style="color: white; background: red; padding:6px 12px; border-radius:5px;">Delete</a>
    </div>  


    <h3>{{ park.name }}'s Activities </h3>
    {% if park.activity.count %}
        {% for activity in park.activity.all %}
            <a href="{% url 'activity-detail' activity.id %}">
                <p><strong>{{activity.name}} - Start Date: {{activity.date }}</strong></p>
            </a>
            {% endfor %}
        {% else %}
        <p>{{park.name}} doesn't have any activities </p>
        {% endif %}


    <h2>Available Activities</h2>
    <ul>
        {% for activity in activitys %}
            <li><strong>{{activity.name}} - Start Date: {{activity.date }}</strong></li>

            <form action="{% url 'add-activity-to-park' park.id activity.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Add activity to Park</button>
            </form>
        {% empty %}
            <li>{{park.name}} already has all the available activities</li>
        {% endfor %}
    </ul>
    
    <h2>Add a Animal</h2>
    <form method='post' action="{% url 'add-animal' park.id %}">
        {% csrf_token %}
        {{ animal_form.as_p}}
        <button type='submit'>Add Animal</button>
    </form>

    <h3>Animals in this park</h3>
    <ul>
        {%for animal in animals %}
            <a href="{% url 'animal-detail' animal.id %}"><li>{{animal.species}} : Count - {{animal.count}}</li></a>
        {% empty %}
            <li>No Animals</li>
        {% endfor %}
    </ul>

    

{% endblock %}